<h1> Show <%= @product.name.capitalize %> </h1>
<hr/>
<% @product.attributes.each do |attr_name, attr_value| %>
  <p><strong><%= attr_name.capitalize %>:</strong> <%= attr_value %></p>
<% end %>

<hr/>
<%= link_to "Back", products_path  %>
